.flexColumnCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.flexRowStart {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}