.cart-container {
    position: relative;
    display: inline-block;
  }
  
.cart-badge {
  position: absolute;
  top: -10px;
  /* right: -8px; */
  background-color: var(--cart-bg);
  color: black;
  font-size: 12px;
  font-weight: bold;
  /* padding: 4px 8px; */
  border-radius: 50%;
  min-width: 20px;
  text-align: center;
}

.cartItem {
  background-color: var(--p-card-bg-color);
  padding: 20px;
}