.Cat {
    /* margin-right: 200px; */
}

.categoryCont {
    background-color: var(--p-card-bg-color);
    /* margin-left: -100px; */
}

.categoryTitles {
    position: absolute;
    top: 50;
    left: 150px;
    width: 87vw;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    border: 1px solid gray;
    background-color: rgb(57, 164, 218);
    z-index: 10;
    padding: 10px;
    /* margin-left: -5vw; */
  }
  
  .categoryCard {
    display: flex;
    justify-content: flex-start;
    /* margin-left: -100px; */
  }

  .CatTitIn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* margin-left: -100px; */
  }

  .catTitle {
    margin-top: -10px;
    width: 40vw;
  }

  .catTitle p:hover {
    color: var(--btn-color);
  }


  .subCat {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 20%;
    /* margin-bottom: 30vw; */
    padding: 15px;
    z-index: 100;
    height: 90%;
    width: 60%;
    border-radius: 10px;
    background-color: rgb(235 255 252);
    color: #5a5a5a;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .subCat {
    top: 8%;
    width: 82%;
    left: -15%;
  }
}
