.Cat {
    /* margin-right: 200px; */
}

.categoryCont {
    background-color: var(--p-card-bg-color);
    /* margin-left: -100px; */
}

.categoryTitles {
    /* position: absolute;
    top: 50;
    left: 150px;
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: var(--category-bg);
    z-index: 10;
    padding: 10px;
    margin-left: -6vw; */

    position: absolute;
    top: 45px;              /* add px unit */
    left: 150px;
    width: 75vw;
    max-height: 70vh;       /* or any fixed height you want */
    overflow-y: auto;       /* enables vertical scroll */
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: var(--category-bg);
    z-index: 10;
    padding: 10px;
    margin-left: -6vw;


  }
  
  .categoryCard {
    display: flex;
    justify-content: flex-start;
    /* margin-left: -100px; */
  }

  .CatTitIn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* margin-left: -100px; */
  }

  .catTitle {
    margin-top: -10px;
    width: 40vw;
  }

  .catTitle p:hover {
    color: var(--btn-color);
  }


  .subCat {
    position: absolute;
    top: 10px;
    left: 35px;
    margin-left: 20%;
    /* margin-bottom: 30vw; */
    padding: 15px;
    z-index: 100;
    height: 90%;
    width: 60%;
    border-radius: 10px;
    background-color: var(--body-bg);
    color: #5a5a5a;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .subCat {
    top: 9.5vh;
    width: 92.5vw;
    height: 97vh;
    left: -20%;
    padding-left: 30px;
  }
}
