.Cat {
    /* margin-right: 200px; */
}

.categoryCont {
    background-color: var(--p-card-bg-color);
    /* margin-left: -100px; */
}

.categoryTitles {
    position: absolute;
    top: 50;
    left: 150px;
    width: 87vw;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    border: 1px solid gray;
    background-color: rgb(57, 164, 218);
    z-index: 10;
    padding: 10px;
    /* margin-left: -5vw; */
  }
  
  .categoryCard {
    display: flex;
    justify-content: flex-start;
    /* margin-left: -100px; */
  }

  .CatTitIn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* margin-left: -100px; */
  }

  .catTitle {
    margin-top: -10px;
    width: 40vw;
  }

  .catTitle p:hover {
    color: var(--btn-color);
  }


  .subCat {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 20vw;
    margin-bottom: 30vw;
    z-index: 100;
    width: 67vw;
    background-color: rgb(239, 239, 239);
    color: black;
  }

  .subCat div {
    height: 70vh;
    margin-left: 20px;
  }