.swiper {
    width: 100% !important;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 50px;
  }
  

  .swiper-pagination {
    position: relative !important;
  }
  

  .mySwiper .swiper-slide {
    width: 200px !important;
    /* height: 300px; */
  }

  .mySwiper .swiper-slide img {
    touch-action: pan-y !important;
    display: block;
    width: 100%;
  }
  

  .gallerySwiper .swiper-slide {
    width: auto !important; 
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .gallerySwiper .swiper-slide img {
    max-width: 150px;
    max-height: 150px;
    object-fit: contain;
  }

  /* .swiper-slide {
  cursor: grab;
} */





 