   /* .pulse-ring-loader { */
  .dots-loader {
  width: 60px;
  height: 60px;
  border: 6px solid transparent;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite, pulse .5s ease-in-out infinite, second-pulse .7s ease-in-out infinite;
  margin: 25% auto;
  box-shadow: 0 0 0 0 rgba(52, 152, 219, 0.4);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(52, 152, 219, 0.4);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(52, 152, 219, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(52, 152, 219, 0);
  }
} 

@keyframes second-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(52, 152, 219, 0.4);
  }
  70% {
    box-shadow: 0 0 0 40px rgba(245, 237, 8, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(52, 152, 219, 0);
  }
} 


@media (max-width: 748px) {
  .dots-loader {
    margin-left: 50%;
  }
}



