/* .productCont {
    margin-top: 40px;
    background-color: var(--p-card-bg-color);
    padding: 5px;
} */
 
.productCard {
    width: 200px;
    height: 500px;
    display: block;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.productCard p {
    margin: 5px;
    font-size: 18px;
    font-weight: 500;
    
}

.productCard:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
    /* background: linear-gradient(135deg, #c8def6, #f3f4f6); */
    transform: scale(0.9);
}

.productCard p:hover {
    color:rgb(226, 165, 43)
}

.productImageCont {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.productImage {
    width: 200px;
    height: 200px;
    transition: ease-out .3s;
}

.productImage:hover {
    transform: scale(0.9);
}

.productDetailCont {
    background-color: var(--p-card-bg-color);
    padding: 20px;
}

/* ---- */
.product-card {
      transition: all 0.3s ease;
    /* background: #4e0b0b; */
    border: 1px solid #a03838;
    border-radius: 16px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    padding: 12px;
    text-align: center;
    transition: transform 0.2s;
    /* width: 200px; */
    cursor: pointer;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(121, 114, 118, 0.4);
}

.product-card img {
  width: 100%;
  height: 200px;
  border-radius: 15px;
  object-fit: contain;  /* Ensures the image aspect ratio is preserved */
  transition: transform 0.3s ease; 
  margin-bottom: 10px;
}

.product-info h3 {
  font-size: 1rem;
  color: #444;
  font-weight: 600;
  margin-bottom: 6px;
}

.price {
  color: #ff4081;
  font-size: 1.1rem;
  font-weight: bold;
}

/* Responsive: 2 cards in a row only for mobile */
@media (max-width: 768px) {
  .swiper-slide {
    width: 50% !important;
  }

  .product-card {
        width: 140px;
    }

    .product-card img {
        width: 90%;
        transition: transform 0.3s ease; 
        margin-bottom: 10px; 
    }

    .product-info h3 {
        font-size: 0.67rem;
        margin-bottom: 4px;
    }

    .productDetailCont {
        margin-left: 5%;
    }
}
 /* ---- */

.miGallCont {
    width: 100%;
    height: 500px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;  /* Prevents the scaled image from overflowing */
}

.mainGalleryImage {
    width: 500px;
    max-height: 500px;
    object-fit: contain;  /* Ensures the image aspect ratio is preserved */
    transition: transform 0.3s ease;  
}

.mainGalleryImage:hover {
    transform: scale(0.9);
}

.galleryImage {
    width: 50px;
    transition: ease-out .3s;
}

.galleryImage:hover {
    transform: scale(0.9);
}

.oldPrice {
    text-decoration: line-through;
    color: red;
}

/* STOK LOGIC */
.stockCont {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.stockInput {
    width: 50px;
    height: 32px;
    padding: 5px;
    text-align: center;
    font-size: 20px;
}

.leftStockBtn {
    width: 30px;
    height: 46px;
    background-color: var(--btn-color);
    border-radius: 0;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.rightStockBtn {
    width: 30px;
    height: 46px;
    background-color: var(--btn-color);
    border-radius: 0;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.orders-history {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: transparent;
}

.history-title {
    width: 300px;
}

.return-info {
    padding: 2px;
    border: 1px solid green;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.return-data {
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.free-shipping {
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    height: 200px;
    overflow-y: scroll;
}

.hot-sail {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 20px;
  background-color: #27ae60;
  border-radius: 12px;
  box-shadow: 0 0 0 0 rgba(39, 174, 96, 0.7);
  animation: pulse .3s infinite;
}

.hot-label {
  color: white;
  font-weight: 800;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;
  letter-spacing: 0.5px;
}

.hot-badge p {
    color: white;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(39, 174, 96, 0.7);
  }
  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 15px rgba(39, 174, 96, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(39, 174, 96, 0);
  }
}


