.products-page {
  /* background: linear-gradient(180deg, #fdfdfd 0%, #eceff1 100%); */
  padding: 30px 20px;
  /* width: 1280px; */
}

.product-section {
  margin-bottom: 50px;
  background: var(--promo-bg);
  border-radius: 10px;
}

.product-section h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #ff6b81;
  text-align: center;
  font-family: "Comic Sans MS", "Poppins", sans-serif;
}

.productCont {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  /* padding: 20px; */
  background: var(--body-bg);
}

@media (max-width: 748px) {
  .swiper-slide {
    width: 50% !important;
  }
  .productCont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .products-page {
    width: 90%;
  }

  .footer-cont {
    /* background: linear-gradient(90deg, rgb(57 115 202 / 88%), #74d0f2); */
    background: var(--header-bg);
  }

  .footer-cont button {
    background: transparent;
    color: var(--body-bg);
}

  .footer-cont span {
    color: var(--body-bg);
  }

}

.footer-cont {
    background: transparent;
  }

  .footer-cont button {
    background: var(--header-bg);
    color: var(--body-bg);
}

.footer-cont button:hover {
  border-color: var(--cart-bg);
}

  .footer-cont span {
    color: var(--header-bg);
  }