{% extends "admin/change_list.html" %}

{% block extrahead %}
    {{ block.super }}
    <style>
        #loading-spinner {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9999;
        }

        .spinner {
            border: 8px solid #f3f3f3;
            border-top: 8px solid #3498db;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0%   { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
{% endblock %}

{% block branding %}
    {{ block.super }}
    <div id="loading-spinner">
        <div class="spinner"></div>
    </div>
{% endblock %}

{% block object-tools-items %}
    {{ block.super }}

    <li>
        <a href="{% url 'invoice_report_form' %}" class="btn btn-info float-right" style="margin-left: 5px;">
            📊 Zestawienie faktur
        </a>
    </li>

    <li>
        <a href="{% url 'invoice_corrections_report_form' %}" class="btn btn-warning float-right" style="margin-left: 5px;">
            🧾 Zestawienie korekt
        </a>
    </li>
{% endblock %}

