<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% extends "admin/change_list.html" %}

    {% block content %}
    <div class="object-tools">
        <ul class="object-tools">
        <li>
            <a href="{% url 'sync_allegro_orders' %}" class="button">🔄 Synchronizuj nowe zamówienia allegro</a>
        </li>
        </ul>
    </div>
    {{ block.super }}
    {% endblock %}



</body>
</html>

