#root {
  max-width: 1280px;
  margin: 10px;
  padding: 10px;
  /* background-color: var(--); */
}

.Header {
  position: absolute;
  left: 0;
  top: 0;
  margin: 20px;
  margin-left: 35px;
  padding: 20px;
  background-color: var(--p-card-bg-color);
  width: 91.5vw !important;
}

.flexColumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexRowCenter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.flexRowStart {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  width: 100%;
}

.flexRowBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.loginSt {
  position: absolute;
  right: 0;
  margin-right: 80px;
}

.w-400 {
  width: 400px;
}

.w-50 {
  width: 50%;
}

.alertImg {
  width: 700px;
}

.gap-15 {
  gap: 15px;
}

.gap-50 {
  gap: 50px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-100 {
  margin-top: 100px;
}

.mainBtn {
  background-color: var(--btn-color);
}

.Cursor {
  cursor: pointer;
}

#Select {
  position: relative;
  width: 150px;
  padding: 12px 14px;
  /* background-color: var(--elem-bg-color); */
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #e2eded;
  border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}

.fileUpload {
  padding: 10px;
  cursor: pointer;
  background-color: var(--btn-color);
  color: #000000;
  border-radius: 5px;
}