#root {
  max-width: 1280px;
  margin: 10px;
  padding: 10px;
  --btn-color: greenyellow;
}

.flexColumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.flexRowStart {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.flexRowCenter {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 15px;
}

.gap-50 {
  gap: 50px;
}

.mainBtn {
  background-color: var(--btn-color);
}